* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #0C3559;
}

.cabecera {
  font-family: "Roboto" sans-serif;
  background-color: 255, 255, 255, 05;
  backdrop-filter: blur(10px);
}

.cabecera__logo {
  height: 8vw;
  border-radius: 10%;
  border: white solid 1px;
  margin-top: 0.5%;
  margin-left: 2%;
  grid-area: logo;
  justify-self: center;
}

. .nav__vinculo {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-left: 1%;
}

.nav__vinculo:hover {
  transform: scale(1.2);
  border: dotted white 2px;
  border-radius: 20%;
  transition: all .5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.678)
}

.nav__vinculo:focus {
  transform: scale(1);
  cursor: progress;
}

.footer {
  background-color: #B3ECF2;
  height: 16vw;
  width: auto;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-top: solid black 2px;
  display: grid;
  grid-template-areas: ". . . redes" "texto texto texto redes" ". . . redes";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5vw;
}

.footer__texto {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  color: black;
  font-weight: 900;
  text-decoration: none;
  grid-area: texto;
  margin-left: 2vw;
}

.footer__vinculo {
  text-decoration: none;
}

.footer__redes {
  grid-area: redes;
  margin-top: 1vw;
  margin-left: 9vw;
}

.footer__redes--icono {
  height: 5vw;
  width: 5vw;
  border-radius: 10%;
  display: block;
  animation-name: animacion__redes;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes animacion__redes {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer__redes--icono:hover {
  animation-play-state: paused;
  transform: scale(1.2);
  transition: all .5s;
  cursor: pointer;
}

.footer__redes--icono:focus {
  transform: scale(1);
  cursor: progress;
}

.section {
  width: auto;
  display: flex;
  flex-direction: column;
}

.article1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article1__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 6vw;
  text-align: center;
  color: white;
}

.article1__imagen {
  width: 40%;
  border-radius: 10%;
  align-self: center;
}

.article1__tabla {
  height: auto;
  width: auto;
  background-color: #11B4D9;
  border-radius: 20%;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 2%;
}

.article1__subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
}

.article1__definicion {
  font-size: 3vw;
  text-align: center;
}

.article1__definicion--lista {
  list-style-type: square;
  margin-left: 10%;
  text-align: left;
  padding-bottom: 4%;
}

.procesos {
  margin-left: 3vw;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  color: white;
  list-style-type: none;
}

.procesos__subtitulo {
  font-size: 4vw;
  text-align: left;
}

.procesos__contenido {
  list-style-type: upper-roman;
  font-size: 3vw;
  margin-left: 5vw;
  text-align: justify;
  margin-right: 5vw;
}

.procesos__contenido--ul {
  list-style-type: circle;
  font-size: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.article2__video {
  margin-top: 1vw;
  margin-left: 3vw;
  width: auto;
  height: auto;
}

.aviso {
  font-family: "Roboto", sans-serif;
}

.aviso__titulo {
  font-size: 6vw;
  font-weight: 900;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.aviso__texto {
  font-size: 3vw;
  color: white;
  text-align: justify;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.contacto {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.contacto__titulo {
  font-size: 6vw;
  text-align: center;
}

.contacto__texto {
  font-size: 3vw;
  text-align: center;
}

.contacto__info {
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
}

.mensaje {
  align-items: center;
  justify-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  display: grid;
  grid-template-areas: "formulario imagen";
}

@media screen and (max-width: 600px) {
  .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.formulario {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  color: white;
  margin-left: 3%;
  display: inline;
  grid-area: formulario;
}

.formulario__contorno {
  text-align: center;
  display: inline;
}

@media screen and (max-width: 600px) {
  .formulario__contorno {
    width: 120%;
    margin-left: -10%;
    align-self: center;
  }
}

.formulario__titulo {
  font-size: 3vw;
  font-weight: 500;
}

.formulario__campos {
  display: block;
  text-align: left;
  margin-left: 10%;
}

.boton {
  width: 12vw;
  height: 4vw;
  border-radius: 60%;
  background-color: #123C73;
  color: white;
  border: white solid 1px;
}

.boton:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  cursor: pointer;
}

.boton:focus {
  transform: scale(1);
}

.formulario__subtitulo {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 3vw;
  font-weight: 400;
}

.mensaje__img {
  width: 40vw;
  background-color: white;
  border-radius: 10%;
  grid-area: imagen;
}

@media screen and (max-width: 600px) {
  .mensaje__img {
    display: none;
  }
}

.productos {
  margin-top: 3%;
  font-family: "Roboto", sans-serif;
  color: white;
}

.productos__li--izquierda {
  margin-top: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;
  width: auto;
  align-items: center;
  display: grid;
  grid-template-areas: "textos imagen";
  grid-template-columns: 1fr, 1fr;
  padding-bottom: 2vw;
}

.productos__li--derecha {
  margin-top: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;
  width: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-areas: "imagen textos";
  grid-template-columns: 1fr, 1fr;
  padding-bottom: 2vw;
}

.productos__card {
  padding-right: 3vw;
  padding-left: 3vw;
  display: inline-block;
  grid-area: textos;
}

.productos__titulo {
  font-size: 5vw;
  text-align: center;
}

.productos__texto {
  font-size: 3vw;
  text-align: justify;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.productos__img {
  height: 40vw;
  border-radius: 10%;
  margin-left: 8%;
  margin-top: 2%;
  margin-right: 10%;
  grid-area: imagen;
}

.distribuidores {
  font-family: "Roboto" sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distribuidores__titulo {
  margin-top: 3%;
  font-size: 4vw;
  text-align: center;
}

.distribuidores__texto {
  font-size: 3vw;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
}

.mapa {
  border-radius: 10%;
  width: 60vw;
  height: 60vw;
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.nosotros {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nosotros__titulo {
  font-size: 6vw;
  text-align: center;
  margin-top: 3%;
}

.nosotros__subtitulo {
  font-size: 4vw;
  text-align: left;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.nosotros__texto {
  font-size: 3vw;
  text-align: justify;
  margin: 3% 3% 3% 3%;
}