@keyframes animacion__redes {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.body {
  min-height: 100vh;
  background-color: #0C3559;
}

.cabecera {
  font-family: "Roboto", sans-serif;
  background-color: 225, 255, 255, 7;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid white;
}
.cabecera__logo {
  height: 8vw;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 0.5%;
  margin-left: 2%;
  grid-area: logo;
  justify-self: center;
}
.cabecera__vinculo {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.cabecera__vinculo:focus {
  transform: scale(1);
  cursor: progress;
}
@media screen and (min-width: 992px) {
  .cabecera__vinculo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
  }
}
.cabecera .navbar-toggler-icon {
  background-image: url(../imagenes/iconos/menu.png);
}

.footer {
  background-color: 225, 255, 255, 7;
  height: 16vw;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid white;
  display: grid;
  grid-template-areas: ". . . redes" "texto texto texto redes" ". . . redes";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5vw;
}
.footer__texto {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  color: white;
  font-weight: 900;
  text-decoration: none;
  grid-area: texto;
  margin-left: 2vw;
}
.footer__vinculo {
  text-decoration: none;
}
.footer__redes {
  grid-area: redes;
  margin-top: 1vw;
  margin-left: 9vw;
}
.footer__redes--icono {
  height: 4vw;
  width: 4vw;
  display: block;
  animation-name: animacion__redes;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.footer__redes--icono__f {
  margin-left: -9vw;
}
.footer__redes--icono__i {
  margin-left: -4vw;
}
.footer__redes--icono__w {
  margin-left: 1vw;
}
.footer__redes--icono:hover {
  animation-play-state: paused;
  transform: scale(1.2);
  transition: all 0.5s;
  cursor: pointer;
}
.footer__redes--icono:focus {
  transform: scale(1);
  cursor: progress;
}

.section {
  width: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.section .article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .article1__titulo {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  text-align: center;
  color: white;
  font-weight: 900;
}
.section .article1__titulo--img {
  border: white solid 1px;
  backdrop-filter: blur(20px);
  background-color: 225, 255, 255, 7;
}
@media screen and (min-width: 600px) {
  .section .article1__titulo {
    font-size: 5vw;
  }
}
.section .article1__imagen--fondo {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33vw;
  width: 50vw;
  background-image: url(../imagenes/mezcal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  border-radius: 10px;
}
.section .article1__tabla {
  height: auto;
  width: 70vw;
  background-color: #11B4D9;
  border-radius: 20%;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 2vw;
}
.section .article1__subtitulo {
  margin-top: 2vw;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .section .article1__subtitulo {
    font-size: 3vw;
  }
}
.section .article1__definicion {
  padding: 2vw;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2vw;
  text-align: center;
}
.section .article1__definicion--lista {
  list-style-type: square;
  margin-left: 10%;
  text-align: left;
  padding-bottom: 4%;
}
.section .procesos {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  margin-left: -2vw;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section .procesos__subtitulo {
  font-size: 4vw;
  text-align: left;
}
.section .procesos__contenido {
  list-style-type: upper-roman;
  font-size: 3vw;
  margin-left: 5vw;
  text-align: justify;
  margin-right: 5vw;
}
.section .procesos__contenido--ul {
  list-style-type: circle;
  font-size: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.section .procesos .btn {
  color: white;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: 28vw;
  margin-bottom: 1vw;
  font-size: 4vw;
  background-color: 225, 255, 255, 7;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 2px solid white;
}
.section .article2 {
  margin-top: 1vw;
  margin-left: 3vw;
  width: auto;
  height: auto;
}
.section .article2__video {
  width: 50vw;
  height: 40vh;
  border-radius: 10px;
  border: solid white 2px;
}

.aviso {
  min-height: 80vh;
  font-family: "Roboto", sans-serif;
}
.aviso__texto {
  font-size: 2vw;
  color: white;
  text-align: justify;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media screen and (min-width: 992px) {
  .aviso__texto {
    font-size: 2vw;
  }
}
.aviso__titulo {
  font-size: 4vw;
  font-weight: 900;
  text-align: center;
  color: white;
  padding-top: 3%;
}
@media screen and (min-width: 600px) {
  .aviso__titulo {
    font-size: 2vw;
  }
}

.section__contacto {
  padding-top: 3vh;
  min-height: 80vh;
}
.section__contacto .contacto {
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
.section__contacto .contacto__titulo {
  font-size: 4vw;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .section__contacto .contacto__titulo {
    font-size: 4vw;
  }
}
.section__contacto .contacto__texto {
  font-size: 2vw;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .section__contacto .contacto__texto {
    font-size: 2vw;
  }
}
.section__contacto .contacto__info {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .section__contacto .contacto__info {
    font-size: 2vw;
  }
}
.section__contacto .mensaje {
  align-items: center;
  justify-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  display: grid;
  grid-template-areas: "formulario imagen";
}
@media screen and (max-width: 991px) {
  .section__contacto .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section__contacto .mensaje__img {
  width: 35vw;
  background-color: white;
  border-radius: 10px;
  grid-area: imagen;
}
@media screen and (max-width: 991px) {
  .section__contacto .mensaje__img {
    display: none;
  }
}
.section__contacto .mensaje .formulario {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  color: white;
  margin-left: 3%;
  display: inline;
  grid-area: formulario;
}
.section__contacto .mensaje .formulariocontorno {
  text-align: center;
  display: inline;
}
@media screen and (max-width: 991px) {
  .section__contacto .mensaje .formulariocontorno {
    width: 120%;
    margin-left: -10%;
    align-self: center;
  }
}
.section__contacto .mensaje .formulario__titulo {
  font-size: 2vw;
  font-weight: 500;
}
.section__contacto .mensaje .formulario__subtitulo {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 2vw;
  font-weight: 400;
}
.section__contacto .mensaje .formulario__campos {
  display: block;
  text-align: left;
  margin-left: 10%;
}
.section__contacto .mensaje .formulario .boton {
  width: 12vw;
  height: 4vw;
  border-radius: 10px;
  background-color: #123C73;
  color: white;
  border: white solid 1px;
}
.section__contacto .mensaje .formulario .boton:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  cursor: pointer;
}
.section__contacto .mensaje .formulario .boton:focus {
  transform: scale(1);
}

.productos {
  margin-top: 3%;
  font-family: "Roboto", sans-serif;
  color: white;
  min-height: 80vh;
}
.productos__li--izquierda {
  margin-top: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;
  width: auto;
  align-items: center;
  display: grid;
  grid-template-areas: "textos imagen";
  grid-template-columns: 1fr, 1fr;
  padding-bottom: 2vw;
}
.productos__li--derecha {
  margin-top: 2vw;
  padding-left: 3vw;
  padding-right: 4vw;
  width: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-areas: "imagen textos";
  grid-template-columns: 1fr, 1fr;
  padding-bottom: 2vw;
}
.productos__card {
  padding-right: 3vw;
  padding-left: 3vw;
  display: inline-block;
  grid-area: textos;
}
.productos__titulo {
  font-size: 4vw;
  text-align: center;
}
.productos__texto {
  font-size: 2vw;
  text-align: justify;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.productos__img {
  height: 40vw;
  border-radius: 10px;
  margin-left: 8%;
  margin-top: 2%;
  margin-right: 10%;
  grid-area: imagen;
}

.distribuidores {
  padding-top: 3vw;
  min-height: 80vh;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.distribuidores__titulo {
  margin-top: 3vw;
  font-size: 4vw;
  text-align: center;
}
.distribuidores__texto {
  font-size: 2vw;
  text-align: center;
  margin-top: 3vw;
  margin-left: 2%;
}
.distribuidores .mapa {
  border-radius: 10px;
  width: 60vw;
  height: 60vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.nosotros {
  min-height: 80vh;
  font-family: "Roboto", sans-serif;
  color: white;
}
.nosotros__titulo {
  font-size: 4vw;
  text-align: center;
  margin-top: 3%;
}
.nosotros__ul {
  list-style: none;
}
.nosotros__subtitulo {
  font-size: 3vw;
  text-align: left;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.nosotros__texto {
  font-size: 2vw;
  text-align: justify;
  margin: 3% 3% 3% 3%;
}

/*# sourceMappingURL=styles_sass.css.map */
