//imports//
@import "variables";
@import "animaciones";
@import "mixins";
@import "maps";
//maps//
//colors//
$w: map-get($colors, w);
$el: map-get($colors, el);
$b: map-get($colors, b);
//alineacion//
$c: map-get($alineacion, c);
$l: map-get($alineacion, l);
$r: map-get($alineacion, r);
$s: map-get($alineacion, s);
$e:map-get($alineacion, e);
// estilos
* {
  padding: 0;
  margin: 0;
}

.textos {
  font-family: $Roboto;
  color: $w;
  text-decoration: none;
}

//ajustar sass
.body {
  background-color: $el;
}

.cabecera {
  @include bgblur();
  @extend .textos;
  border-bottom: $Borde-blanco;
  &__logo {
    height: 8vw;
    border-radius: $Borde-redondeado;
    border: $Borde-blanco;
    margin-top: 0.5%;
    margin-left: 2%;
    grid-area: logo;
    justify-self: $c;
  }
  &__vinculo {
    @extend .textos;
    &:focus {
      transform: scale(1);
      cursor: progress;
    }
    @media screen and (min-width:992px) {
      &:hover {
        transform: scale(1.1);
        transition: all .5s;
        cursor: pointer;
      }
    }
  }
  .navbar-toggler {
    &-icon {
      background-image: url(../imagenes/iconos/menu.png);
    }
  }
}

.footer {
  @include bgblur();
  height: 16vw;
  width: auto;
  border-top-left-radius: $Borde-redondeado;
  border-top-right-radius: $Borde-redondeado;
  border-top: $Borde-blanco;
  display: grid;
  grid-template-areas: ". . . redes" "texto texto texto redes" ". . . redes";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5vw;
  &__texto {
    @extend .textos;
    font-size: $Size-textos;
    font-weight: 900;
    grid-area: texto;
    margin-left: 2vw;
  }
  &__vinculo {
    @extend .textos;
  }
  &__redes {
    grid-area: redes;
    margin-top: 1vw;
    margin-left: 9vw;
  }
  &__redes--icono {
    height: $HeigthIconos;
    width: $WidthIconos;
    display: block;
    animation-name: animacion__redes;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    &__f {
      margin-left: -9vw;
    }
    &__i {
      margin-left: -4vw;
    }
    &__w {
      margin-left: 1vw;
    }
    &:hover {
      animation-play-state: paused;
      transform: scale(1.2);
      transition: all .5s;
      cursor: pointer;
    }
    &:focus {
      transform: scale(1);
      cursor: progress;
    }
  }
}

//contenido index//
.section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: $c;
  min-height: $heigth-completo;
  .article1 {
    @extend .section;
    &__titulo {
      @extend .textos;
      text-align: center;
      font-weight: 900;
      &--img {
        @include bgblur();
        @include bordes();
      }
      @media screen and (min-width: 600px) {
        font-size: 5vw;
      }
    }
    &__imagen--fondo {
      margin-top: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: $c;
      height: 33vw;
      width: 50vw;
      background-image: url(../imagenes/mezcal.png);
      @include bordes();
      @include bgimg();
    }
    &__tabla {
      height: auto;
      width: 70vw;
      background-color: #11B4D9;
      @include bordes();
      @extend .textos;
      margin: 2vw;
    }
    &__subtitulo {
      margin-top: 2vw;
      @extend .textos;
      font-size: 4vw;
      font-weight: 700;
      text-align: $c;
      @media screen and (min-width: 600px) {
        font-size: 3vw;
      }
    }
    &__definicion {
      padding: 2vw;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 2vw;
      text-align: $c;
    }
    &__definicion--lista {
      list-style-type: square;
      margin-left: 10%;
      text-align: $l;
      padding-bottom: 4%;
    }
  }
  .procesos {
    @extend .textos;
    margin-left: -2vw;
    list-style-type: none;
    @extend.section;
    justify-content: space-around;
    &__subtitulo {
      font-size: 4vw;
      text-align: $l;
    }
    &__contenido {
      list-style-type: upper-roman;
      font-size: 3vw;
      margin-left: 5vw;
      text-align: justify;
      margin-right: 5vw;
    }
    &__contenido--ul {
      list-style-type: circle;
      font-size: 3vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .btn {
      @extend .textos;
      height: fit-content;
      width: 28vw;
      margin-bottom: 1vw;
      font-size: $Size-Titulos;
      @include bordes();
      @include bgblur();
    }
  }
  .article2 {
    margin-top: 1vw;
    margin-left: 3vw;
    width: auto;
    height: auto;
    &__video {
      width: 50vw;
      height: 40vh;
      @include bordes();
    }
  }
}

//contenido paginas footer//
.aviso {
  min-height: $Height-footer;
  @extend .textos;
  &__texto {
    font-size: $Size-textos;
    color: $w;
    text-align: justify;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-left: 5vw;
    padding-right: 5vw;
    @media screen and(min-width: 992px) {
      font-size: 2vw;
    }
  }
  &__titulo {
    font-size: $Size-Titulos;
    font-weight: 900;
    text-align: $c;
    color: $w;
    padding-top: 3%;
    @media screen and (min-width: 600px) {
      font-size: $Size-textos
    }
  }
}

//contenico contacto//
.section__contacto {
  padding-top: 3vh;
  min-height: $Height-footer;
  .contacto {
    @extend .textos;
    display: flex;
    flex-direction: column;
    &__titulo {
      font-size: $Size-Titulos;
      text-align: $c;
      @media screen and (min-width: 992px) {
        font-size: 4vw;
      }
    }
    &__texto {
      font-size: $Size-textos;
      text-align: $c;
      @media screen and (min-width: 992px) {
        font-size: 2vw;
      }
    }
    &__info {
      font-size: $Size-textos;
      font-weight: 500;
      text-align: $c;
      @media screen and (min-width: 992px) {
        font-size: 2vw;
      }
    }
  }
  .mensaje {
    align-items: $c;
    justify-items: $c;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-areas: "formulario imagen";
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: 35vw;
      background-color: $w;
      border-radius: $Borde-redondeado;
      grid-area: imagen;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .formulario {
      @extend .textos;
      font-size: $Size-textos;
      margin-left: 3%;
      display: inline;
      grid-area: formulario;
      &contorno {
        text-align: $c;
        display: inline;
        @media screen and (max-width: 991px) {
          width: 120%;
          margin-left: -10%;
          align-self: $c;
        }
      }
      &__titulo {
        font-size: $Size-textos;
        font-weight: 500;
      }
      &__subtitulo {
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: $Size-textos;
        font-weight: 400;
      }
      &__campos {
        display: block;
        text-align: $l;
        margin-left: 10%;
      }
      .boton {
        width: 12vw;
        height: 4vw;
        @include bordes();
        background-color: $el;
        @extend .textos;
        &:hover {
          transform: scale(1.2);
          transition: all 0.3s;
          cursor: pointer;
        }
        &:focus {
          transform: scale(1);
        }
      }
    }
  }
}

//contenido productos//
.productos {
  margin-top: 3%;
  @extend .textos;
  min-height: $Height-footer;
  &__li--izquierda {
    margin-top: 2vw;
    padding-left: 3vw;
    padding-right: 4vw;
    width: auto;
    align-items: $c;
    display: grid;
    grid-template-areas: "textos imagen";
    grid-template-columns: 1fr, 1fr;
    padding-bottom: 2vw;
  }
  &__li--derecha {
    margin-top: 2vw;
    padding-left: 3vw;
    padding-right: 4vw;
    width: auto;
    align-items: $c;
    justify-items: $c;
    display: grid;
    grid-template-areas: "imagen textos";
    grid-template-columns: 1fr, 1fr;
    padding-bottom: 2vw;
  }
  &__card {
    padding-right: 3vw;
    padding-left: 3vw;
    display: inline-block;
    grid-area: textos;
  }
  &__titulo {
    font-size: $Size-Titulos;
    text-align: $c;
  }
  &__texto {
    font-size: $Size-textos;
    text-align: justify;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }
  &__img {
    height: $ImgHeigth;
    @include bordes();
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 10%;
    grid-area: imagen;
  }
}

//contenido Puntos-venta//
.distribuidores {
  padding-top: 3vw;
  min-height: $Height-footer;
  @extend .textos;
  @extend .section;
  &__titulo {
    margin-top: 3vw;
    font-size: $Size-Titulos;
    text-align: $c;
  }
  &__texto {
    font-size: $Size-textos;
    text-align: $c;
    margin-top: 3vw;
    margin-left: 2%;
  }
  .mapa {
    @include bordes();
    width: 60vw;
    height: 60vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

//contenido elixir//
.nosotros {
  min-height: $Height-footer;
  @extend .textos;
  &__titulo {
    font-size: $Size-Titulos;
    text-align: $c;
    margin-top: 3%;
  }
  &__ul {
    list-style: none;
  }
  &__subtitulo {
    font-size: $Size-Subtitulos;
    text-align: $l;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }
  &__texto {
    font-size: $Size-textos;
    text-align: justify;
    margin: 3% 3% 3% 3%;
  }
}