$Roboto: 'Roboto',
sans-serif;
;
$Size-Titulos: 4vw;
$Size-Subtitulos: 3vw;
$Size-textos: 2vw;
$bgColor-elixir: #0C3559;
$Color-titulos: white;
$Color-textos: white;
$heigth-completo: 100vh;
$bgColor-translucido: 225,
255,
255,
07;
$Borde-blanco: 2px solid white;
$Borde-redondeado: 10px;
$ImgHeigth: 40vw;
$Height-footer: 80vh;
$HeigthIconos: 4vw;
$WidthIconos: 4vw;